<!-- layouts/sidebar.html -->
<aside class="bg-light border-end" style="width: 250px; min-height: 100vh;" th:fragment="sidebar">
  <div class="list-group list-group-flush">
    <!-- 기준정보관리 -->
    <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#menu1">기준정보관리</a>
    <div class="collapse" id="menu1">
      <a href="/pages/plant.html" class="list-group-item list-group-item-action ps-4">사업장 관리</a>
      <a href="/pages/client/client.html" class="list-group-item list-group-item-action ps-4">거래처 관리</a>
      <a href="/pages/bom/bom.html" class="list-group-item list-group-item-action ps-4">BOM(품목관리)</a>
      <a href="/pages/warehouse/warehouse.html" class="list-group-item list-group-item-action ps-4">창고관리</a>
    </div>

    <!-- 구매영업관리 -->
    <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#menu2">구매영업관리</a>
    <div class="collapse" id="menu2">
      <a href="/pages/shipment/shipment.html" class="list-group-item list-group-item-action ps-4">발주관리</a>
      <a href="/pages/order/order.html" class="list-group-item list-group-item-action ps-4">주문관리</a>
      <a href="/pages/mrp/mrp.html" class="list-group-item list-group-item-action ps-4">MRP</a>
      <a href="/pages/shipment/shipment.html" class="list-group-item list-group-item-action ps-4">출고관리</a>
    </div>

    <!-- 자재관리 -->
    <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#menu3">자재관리</a>
    <div class="collapse" id="menu3">
      <a href="/pages/receive/receive.html" class="list-group-item list-group-item-action ps-4">입고관리</a>
      <a href="/pages/stock/stock.html" class="list-group-item list-group-item-action ps-4">재고관리</a>
    </div>

    <!-- 생산관리 -->
    <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#menu4">생산관리</a>
    <div class="collapse" id="menu4">
      <a href="/pages/plan/plan.html" class="list-group-item list-group-item-action ps-4">생산 계획</a>
    </div>
  </div>
</aside>
