<!-- item-add-modal.html -->
<div th:fragment="itemRegisterModal">
	<div class="modal fade" id="itemRegisterModal" tabindex="-1"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<form id="addItemForm">
					<div class="modal-header">
						<h5 class="modal-title">품목 등록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
					<div class="modal-body">
						<div class="mb-3">
							<label for="itemName" class="form-label">품목명</label> <input
								type="text" id="itemName" name="name" class="form-control"
								required autocomplete="off">
						</div>
						<div class="mb-3">
							<label for="itemType" class="form-label">품목유형</label> <select
								id="itemType" name="type" class="form-select" required>
								<option value="raw">자재</option>
								<option value="product">완제품</option>
							</select>
						</div>
						<div class="mb-3">
							<label for="itemSpec" class="form-label">규격</label> <input
								type="text" id="itemSpec" name="spec" class="form-control"
								autocomplete="off">
						</div>
						<div class="mb-3">
							<label for="itemUnit" class="form-label">단위</label> <input
								type="text" id="itemUnit" name="unit" class="form-control"
								autocomplete="off">
						</div>

						<!-- 단가 -->
						<div class="mb-3">
							<label for="itemPrice" class="form-label">단가</label> <input
								type="number" class="form-control" id="itemPrice"
								name="itemPrice" />
						</div>
						<!-- 안전 재고 -->
						<div class="mb-3">
							<label for="safetyStock" class="form-label">안전 재고</label> <input
								type="number" class="form-control" id="safetyStock"
								name="safetyStock" />
						</div>
						<!-- 구매 리드타임 -->
						<div class="mb-3">
							<label for="purchaseLeadTime" class="form-label">구매 리드타임</label>
							<input type="number" class="form-control" id="purchaseLeadTime"
								name="purchaseLeadTime" />
						</div>

						<div class="mb-3">
							<label for="itemUse" class="form-label">사용 여부</label> <select
								id="itemUse" name="use" class="form-select">
								<option value="Y">Y</option>
								<option value="N">N</option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"
							onclick="submitItem()">저장</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">닫기</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
