<div th:fragment="detailModal">
  <div class="modal fade" id="detailModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">주문 상세</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
        </div>
        <div class="modal-body">
          <div class="row g-3 mb-4">
            <div class="col-md-4">
              <label class="form-label fw-bold">주문번호</label>
              <div id="detailOrderNum" class="form-control-plaintext">-</div>
            </div>
            <div class="col-md-4">
              <label class="form-label fw-bold">주문일자</label>
              <div id="detailOrderDate" class="form-control-plaintext">-</div>
            </div>
            <div class="col-md-4">
              <label class="form-label fw-bold">고객사</label>
              <div id="detailCompanyName" class="form-control-plaintext">-</div>
            </div>
            <div class="col-md-4">
              <label class="form-label fw-bold">담당자</label>
              <div id="detailEmpName" class="form-control-plaintext">-</div>
            </div>
            <div class="col-md-4">
              <label class="form-label fw-bold">거래처담당자</label>
              <div id="detailCompanyEmpName" class="form-control-plaintext">-</div>
            </div>
            <div class="col-md-4">
              <label class="form-label fw-bold">비고</label>
              <div id="detailRemark" class="form-control-plaintext">-</div>
            </div>
          </div>
          <h5>품목 목록</h5>
          <div class="table-responsive">
            <table class="table table-bordered text-center align-middle" id="detailItemsTable">
              <thead class="table-light">
                <tr>
                  <th>품목</th>
                  <th>단위</th>
                  <th>단가</th>
                  <th>수량</th>
                  <th>합계</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>
</div>
