<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fixedModal">
    <div class="modal fade" id="fixedModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">주문 수정</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- registerModal과 동일 구조, id만 fixedForm으로 변경 -->
                    <form id="fixedForm">
                        <!-- (생략: registerForm과 동일 필드, 단 form id, 버튼 id 등만 변경) -->
                        <!-- ... -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="updateOrder" class="btn btn-primary">수정</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>