<!-- File: src/main/resources/templates/order/order-detail-modal.html -->
<div th:fragment="detailModal">
  <div class="modal fade" id="detailModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">주문 상세</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div>주문번호: <span id="detailOrderNum"></span></div>
          <div class="table-responsive mt-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>품목</th>
                  <th>수량</th>
                  <th>단위</th>
                  <th>단가</th>
                  <th>금액</th>
                </tr>
              </thead>
              <tbody id="detailBody"></tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary btn-edit">수정</button>
        </div>
      </div>
    </div>
  </div>
</div>