<div class="modal fade" id="stockLogModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">재고 입출고 이력</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>일시</th>
              <th>유형</th>
              <th>수량</th>
              <th>비고</th>
            </tr>
          </thead>
          <tbody id="logTableBody">
            <!-- JavaScript로 채움 -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
