<div class="modal fade" id="shipmentDetailModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">출고 상세 조회</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item"><strong>출고일자:</strong> <span id="shipmentDetailDate"></span></li>
          <li class="list-group-item"><strong>고객사:</strong> <span id="shipmentDetailCustomer"></span></li>
          <li class="list-group-item"><strong>품목코드:</strong> <span id="shipmentDetailItemCode"></span></li>
          <li class="list-group-item"><strong>품목명:</strong> <span id="shipmentDetailItemName"></span></li>
          <li class="list-group-item"><strong>수량:</strong> <span id="shipmentDetailQty"></span></li>
          <li class="list-group-item"><strong>단위:</strong> <span id="shipmentDetailUnit"></span></li>
          <li class="list-group-item"><strong>창고:</strong> <span id="shipmentDetailWarehouse"></span></li>
          <li class="list-group-item"><strong>담당자:</strong> <span id="shipmentDetailManager"></span></li>
          <li class="list-group-item"><strong>비고:</strong> <span id="shipmentDetailNote"></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
