<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div class="modal fade" id="registerModal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content" id="registerModalContent">
          <!-- AJAX 로딩되는 주문상세 혹은 수정 폼 -->
          <form th:action="@{/shipments/preShip}" method="post">
            <input type="hidden" name="orderIds" id="preShipIds"/>
            <!-- 폼 내용은 orderDetail fragment 로딩 -->
          </form>
          <form th:action="@{/shipments/doShip}" method="post">
            <input type="hidden" name="shipmentIds" id="doShipIds"/>
            <!-- 폼 내용은 수정 시 그 안의 useYn 선택박스 로딩 -->
          </form>
        </div>
      </div>
    </div>
  </body>
</html>