<!-- 입고 상세 조회 모달 -->
<div class="modal fade" id="receiveDetailModal" tabindex="-1" aria-labelledby="receiveDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">입고 상세 조회</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item"><strong>입고일자:</strong> <span id="detailDate"></span></li>
          <li class="list-group-item"><strong>입고처:</strong> <span id="detailCompany"></span></li>
          <li class="list-group-item"><strong>품목코드:</strong> <span id="detailItemCode"></span></li>
          <li class="list-group-item"><strong>품목명:</strong> <span id="detailItemName"></span></li>
          <li class="list-group-item"><strong>수량:</strong> <span id="detailQty"></span></li>
          <li class="list-group-item"><strong>단위:</strong> <span id="detailUnit"></span></li>
          <li class="list-group-item"><strong>창고:</strong> <span id="detailWarehouse"></span></li>
          <li class="list-group-item"><strong>입고유형:</strong> <span id="detailType"></span></li>
          <li class="list-group-item"><strong>입고상태:</strong> <span id="detailStatus"></span></li>
          <li class="list-group-item"><strong>담당자:</strong> <span id="detailManager"></span></li>
          <li class="list-group-item"><strong>비고:</strong> <span id="detailNote"></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>