<!-- MRP 상세 모달 -->
<div class="modal fade" id="mrpDetailModal" tabindex="-1" aria-labelledby="mrpDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mrpDetailModalLabel">MRP 상세 정보</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th>품목코드</th>
              <td id="mrpDetailItemCode"></td>
            </tr>
            <tr>
              <th>품목명</th>
              <td id="mrpDetailItemName"></td>
            </tr>
            <tr>
              <th>품목유형</th>
              <td id="mrpDetailItemType"></td>
            </tr>
            <tr>
              <th>단위</th>
              <td id="mrpDetailUnit"></td>
            </tr>
            <tr>
              <th>기준일자</th>
              <td id="mrpDetailBaseDate"></td>
            </tr>
            <tr>
              <th>필요수량</th>
              <td id="mrpDetailRequiredQty"></td>
            </tr>
            <tr>
              <th>현재고</th>
              <td id="mrpDetailStock"></td>
            </tr>
            <tr>
              <th>확정수량</th>
              <td id="mrpDetailConfirmedQty"></td>
            </tr>
            <tr>
              <th>부족수량</th>
              <td id="mrpDetailShortQty"></td>
            </tr>
            <tr>
              <th>소요처</th>
              <td id="mrpDetailDemandSource"></td>
            </tr>
            <tr>
              <th>리드타임(일)</th>
              <td id="mrpDetailLeadTime"></td>
            </tr>
            <tr>
              <th>비고</th>
              <td id="mrpDetailNote"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
