<!-- 발주 상세 조회 모달 -->
<div class="modal fade" id="placeDetailModal" tabindex="-1" aria-hidden="true" th:fragment="place-detail-modal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">발주 상세 조회</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item"><strong>발주일자:</strong> <span id="placeDetailDate"></span></li>
          <li class="list-group-item"><strong>고객사:</strong> <span id="placeDetailCustomer"></span></li>
          <li class="list-group-item"><strong>주문번호:</strong> <span id="placeDetailOrderNum"></span></li>
          <li class="list-group-item"><strong>품목코드:</strong> <span id="placeDetailItemCode"></span></li>
          <li class="list-group-item"><strong>품목명:</strong> <span id="placeDetailItemName"></span></li>
          <li class="list-group-item"><strong>수량:</strong> <span id="placeDetailQty"></span></li>
          <li class="list-group-item"><strong>단위:</strong> <span id="placeDetailUnit"></span></li>
          <li class="list-group-item"><strong>담당자:</strong> <span id="placeDetailManager"></span></li>
          <li class="list-group-item"><strong>비고:</strong> <span id="placeDetailNote"></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
