<!-- 자재 상세 보기 모달 -->
<div class="modal fade" id="itemDetailModal" tabindex="-1" aria-labelledby="itemDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itemDetailModalLabel">자재 상세 정보</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="bg-light">자재코드</th>
              <td id="itemCode">M001</td>
            </tr>
            <tr>
              <th class="bg-light">자재명</th>
              <td id="itemName">자재 X</td>
            </tr>
            <tr>
              <th class="bg-light">규격</th>
              <td id="spec">10x20</td>
            </tr>
            <tr>
              <th class="bg-light">단위</th>
              <td id="unit">EA</td>
            </tr>
            <tr>
              <th class="bg-light">사용여부</th>
              <td id="useYn">Y</td>
            </tr>
            <tr>
              <th class="bg-light">재고수량</th>
              <td id="stockQty">250</td>
            </tr>
            <tr>
              <th class="bg-light">창고</th>
              <td id="warehouse">자재창고 A</td>
            </tr>
            <tr>
              <th class="bg-light">비고</th>
              <td id="note">지정 납품업체 사용 필수</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
